@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oyw1ng');
  src:  url('fonts/icomoon.eot?oyw1ng#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oyw1ng') format('truetype'),
    url('fonts/icomoon.woff?oyw1ng') format('woff'),
    url('fonts/icomoon.svg?oyw1ng#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_right:before {
  content: "\e906";
}
.icon-keyboard_arrow_left:before {
  content: "\e907";
}
.icon-heart:before {
  content: "\e903";
}
.icon-love:before {
  content: "\e903";
}
.icon-like:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-cart:before {
  content: "\e905";
}
.icon-purchase:before {
  content: "\e905";
}
.icon-ecommerce:before {
  content: "\e905";
}
.icon-shopping:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e900";
}
